@import "stylesheets/_variables.styl"

html,
body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-family: _fontFamily !important

#app-container
  position: absolute
  top: 0
  width: 100%
  height: 100%

  main
    position: absolute
    top: 100px
    width: 100%
    height: 100%

ul.breadcrumbs-list
  margin: 0
  padding: 0
  li
    display: inline-block
    margin-right: 20px
    a:not(.breadcrumb-active)
      font-weight: bold
      margin-right: 20px
    a.breadcrumb-active
        text-decoration: none
        cursor: default

.container-fluid
  padding-left: containerPadding
  padding-right: containerPadding
