@require "../../stylesheets/_variables.styl"

:local
	.with-addon
		position relative

	.addon
		position absolute
		top 0
		right 0
		display flex

	.icon
		width 0 // edge 18. why? because! 🙃
		flex 1

	//.search-icon-fill
	//	:global(.icon-fill)
	//		fill #CCC

	.search-icon-fill-filter
		:global(.icon-fill)
			fill primary
