@require "../../stylesheets/_variables.styl"

:local
	.with-addon
		position relative

	.addon
		background $input-bg
		position absolute
		top 50%
		right 0
		transform translate(-30%, -50%)

	.icon
		width 25px
		height 25px

	.search-icon-fill
		:global(.icon-fill)
			fill #CCC

	.search-icon-fill-filter
		:global(.icon-fill)
			fill primary
