linkColor = #B3B3B3

.graph-export
    [no-export], [noExport]
    .connection-wrap
    .marker-arrowheads
        display none

    .arrow-marker path
        fill linkColor

    .joint-theme-default
        .connection
            stroke linkColor
            fill none

        .connection
        .joint-port-body
        &.joint-type-esp-model rect
            stroke-width 2px

