.idea/
target/
*.iml
.*orig
node_modules/
dist/
.bloop
.vscode
.metals
metals.sbt
**/db.log
**/db.properties
**/db.script
**/db.lck
**/db.tmp
dbFiles/*
*.jar
**/npm-debug.log
junit.xml
designer/client/cypress-test-results/*.xml
designer/develConf/*.jar
_book/
# Ignore Mac DS_Store files
.DS_Store
*.log.logstashjson
out/
*.bsp
designer/client/cypress/fixtures/env.json
*.swp
fe-dist.tgz
target.tgz
.k3d/k3s_manifests/ccm.yaml
.k3d/k3s_manifests/coredns.yaml
.k3d/k3s_manifests/local-storage.yaml
.k3d/k3s_manifests/rolebindings.yaml
.k3d/k3s_manifests/runtimes.yaml
.eslintcache
.java-version
