language: scala

scala:
  - 2.11.12

jdk:
  - oraclejdk8

sudo: required

services:
  - docker

addons:
  chrome: stable

# Whitelist for push builds. Pull request builds don't look at this.
branches:
  only:
    - master
    - demo

#TODO: upgrade to newer (e.g. xenial) after upgrading java to > 8
dist: trusty

env:
  global:
    - APPLICATION_NAME=nussknacker
    - AWS_DEFAULT_REGION=eu-west-1
    - SOURCE_BRANCH=`[ "${TRAVIS_PULL_REQUEST_BRANCH}" != "" ] && echo "${TRAVIS_PULL_REQUEST_BRANCH}" || echo "${TRAVIS_BRANCH}"`
    - SANITIZED_BRANCH=`echo ${SOURCE_BRANCH} | sed 's/[^a-zA-Z0-9]/\_/g' | awk '{print tolower($0)}'`
    - FORMATTED_DATE=`date '+%Y_%m_%d_%H_%M'`
    - BUILD_VERSION=$(if [[ -n $TRAVIS_TAG ]]; then echo "${SANITIZED_BRANCH}"; else echo "${FORMATTED_DATE}-${SANITIZED_BRANCH}-$TRAVIS_COMMIT"; fi)
    - DOCKER_SOURCE_TAG=`echo ${DOCKER_PACKAGE_USERNAME}/${DOCKER_PACKAGENAME}:${BUILD_VERSION}`
    - DOCKER_REPOSITORY=`echo ${DOCKER_PACKAGE_USERNAME}/${DOCKER_PACKAGENAME}`
    - COVERAGE=`[ "${SOURCE_BRANCH}" == "master" ] && echo "true"`

# Cleanup the cached directories to avoid unnecessary cache updates
before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
    - $HOME/.npm

# We don't allow do releases from fork and corn type because of security: https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions
stages:
  - tests
  - name: releases
    if: fork = false AND type != cron

jobs:
  include:
    - stage: tests
      name: "Backend tests"
      script: ./ciBackendTest.sh $TRAVIS_SCALA_VERSION
      after_success: if [ "$COVERAGE" = true ]; then sbt ++$TRAVIS_SCALA_VERSION coveralls; else echo "Skipping coveralls"; fi
    - name: "Frontend tests"
      before_script: if [[ `npm -v | sed 's/\..*//'` < 6 ]]; then npm i -g npm; fi
      script: ./ciFrontendTest.sh
    - name: "UI slow tests"
      script: sbt ++$TRAVIS_SCALA_VERSION clean ui/slow:test
    - name: "Management tests"
      script: sbt ++$TRAVIS_SCALA_VERSION clean management/it:test
    - name: "EngineStandalone tests"
      script: sbt ++$TRAVIS_SCALA_VERSION clean engineStandalone/it:test
    - stage: releases
      name: "Release sonatype packages"
      before_script: if [[ `npm -v | sed 's/\..*//'` < 6 ]]; then npm i -g npm; fi
      script: ./ciBuild.sh "${BUILD_VERSION}-SNAPSHOT" ${NEXUS_PASSWORD} ${NEXUS_URL} ${NEXUS_USER} true
    - name: "Push Docker Image"
      before_script: if [[ `npm -v | sed 's/\..*//'` < 6 ]]; then npm i -g npm; fi
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin;
        - ./ciBuildDocker.sh --version=${BUILD_VERSION} --docker-publish-type=publishLocal
        - cd ./demo/docker && echo "NUSSKNACKER_VERSION=$BUILD_VERSION" > .env && ./testQuickstart.sh
        - docker push ${DOCKER_SOURCE_TAG}
        - docker tag ${DOCKER_SOURCE_TAG} ${DOCKER_REPOSITORY}:latest
        - docker push ${DOCKER_REPOSITORY}:latest
        - if [[ "$TRAVIS_BRANCH" == "demo" ]]; then docker tag ${DOCKER_SOURCE_TAG} ${DOCKER_REPOSITORY}:demo-latest; fi
        - if [[ "$TRAVIS_BRANCH" == "demo" ]]; then docker push ${DOCKER_REPOSITORY}:demo-latest; fi
