language: scala

jdk:
  - oraclejdk8

sudo: required

services:
  - docker

addons:
  chrome: stable

# Whitelist for push builds. Pull request builds don't look at this.
branches:
  only:
    - master
    - demo
    - staging
    - /^preview/.*$/

#TODO: upgrade to newer (e.g. xenial) after upgrading java to > 8
dist: trusty

env:
  global:
    - APPLICATION_NAME=nussknacker
    - AWS_DEFAULT_REGION=eu-west-1
    - SOURCE_BRANCH=`[ "${TRAVIS_PULL_REQUEST_BRANCH}" != "" ] && echo "${TRAVIS_PULL_REQUEST_BRANCH}" || echo "${TRAVIS_BRANCH}"`
    - SANITIZED_BRANCH=`echo ${SOURCE_BRANCH} | sed 's/[^a-zA-Z0-9]/\_/g' | awk '{print tolower($0)}'`
    - FORMATTED_DATE=`date '+%Y_%m_%d_%H_%M'`
    - BUILD_VERSION=$(if [[ -n $TRAVIS_TAG ]]; then echo "${SANITIZED_BRANCH}"; else echo "${FORMATTED_DATE}-${SANITIZED_BRANCH}-$TRAVIS_COMMIT"; fi)
    - DOCKER_SOURCE_TAG=`echo ${DOCKER_PACKAGE_USERNAME}/${DOCKER_PACKAGENAME}:${BUILD_VERSION}`
    - DOCKER_REPOSITORY=`echo ${DOCKER_PACKAGE_USERNAME}/${DOCKER_PACKAGENAME}`
    - COVERAGE=`[ "${SOURCE_BRANCH}" == "master" ] && echo "true"`
    #We do cross build in tests only for staging/master
    - CROSS_BUILD=`( [[ "${SOURCE_BRANCH}" == "staging" ]] || [[ "${SOURCE_BRANCH}" == "master" ]] || [[ "${SOURCE_BRANCH}" =~ ^preview/.*$ ]] ) && echo "true"`

# Cleanup the cached directories to avoid unnecessary cache updates
before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - rm -fv $HOME/.npm/anonymous-cli-metrics.json
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
    - $HOME/.npm

stages:
  - test
  - name: releases
    # We don't allow do releases from fork and corn type because of security: https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions
    # We also don't allow for pull request builds because they are built from merge of source and upstream branches.
    # See more: https://docs.travis-ci.com/user/pull-requests/#how-pull-requests-are-built . Use preview branches instead.
    if: fork = false AND type != cron AND type != pull_request

jobs:
  include:
    - stage: test
      name: "Backend tests"
      script: ./ciBackendTest.sh
      after_success: if [ "$COVERAGE" = true ]; then ./ciRunSbt.sh coveralls; else echo "Skipping coveralls"; fi
    - name: "UI slow tests"
      script: ./ciRunSbt.sh clean ui/slow:test
    - name: "Management tests"
      script: ./ciRunSbt.sh clean management/it:test
    - name: "Cross Scala compile"
      script: if [ "$CROSS_BUILD" = true ]; then echo "Skipping. Cross compilation executed in other jobs"; else CROSS_BUILD=true ./ciRunSbt.sh clean compile:compile test:compile; fi
    - name: "EngineStandalone tests"
      script: ./ciRunSbt.sh clean engineStandalone/it:test
    - name: "Frontend tests"
      before_script: if [[ `npm -v | sed 's/\..*//'` < 6 ]]; then npm i -g npm; fi
      script: ./ciFrontendTest.sh
    - stage: releases
      name: "Release sonatype packages"
      before_script: if [[ `npm -v | sed 's/\..*//'` < 6 ]]; then npm i -g npm; fi
      script: ./ciPublish.sh "${BUILD_VERSION}-SNAPSHOT" ${NEXUS_PASSWORD} ${NEXUS_URL} ${NEXUS_USER}
    - name: "Push Docker Image"
      before_script: if [[ `npm -v | sed 's/\..*//'` < 6 ]]; then npm i -g npm; fi
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin;
        - ./ciBuildDocker.sh --version=${BUILD_VERSION} --docker-publish-type=publishLocal
        - cd ./demo/docker && echo "NUSSKNACKER_VERSION=$BUILD_VERSION" > .env && ./testQuickstart.sh
        - docker push ${DOCKER_SOURCE_TAG}
        - docker tag ${DOCKER_SOURCE_TAG} ${DOCKER_REPOSITORY}:latest
        - docker push ${DOCKER_REPOSITORY}:latest
        - if [[ "$TRAVIS_BRANCH" == "demo" ]]; then docker tag ${DOCKER_SOURCE_TAG} ${DOCKER_REPOSITORY}:demo-latest; fi
        - if [[ "$TRAVIS_BRANCH" == "demo" ]]; then docker push ${DOCKER_REPOSITORY}:demo-latest; fi
        - if [[ "$TRAVIS_BRANCH" == "staging" ]]; then docker tag ${DOCKER_SOURCE_TAG} ${DOCKER_REPOSITORY}:staging-latest; fi
        - if [[ "$TRAVIS_BRANCH" == "staging" ]]; then docker push ${DOCKER_REPOSITORY}:staging-latest; fi
