{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react-hooks/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "__webpack_public_path__": "readonly",
    "__DEV__": "readonly",
    "__BUILD_VERSION__": "readonly",
    "_": "readonly"
    // TODO: remove lodash from global, fix imports
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "import",
    "i18next"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  },
  "rules": {
    "no-extra-parens": [
      "warn",
      "all",
      {
        "ignoreJSX": "all"
      }
    ],
    "function-call-argument-newline": [
      "warn",
      "consistent"
    ],
    "react/jsx-closing-bracket-location": [
      "warn",
      "tag-aligned"
    ],
    "react/jsx-first-prop-new-line": [
      "warn",
      "multiline-multiprop"
    ],
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 1,
        "when": "multiline"
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "warn",
      2
    ],
    "react/jsx-indent-props": [
      "warn",
      2
    ],
    "react/jsx-tag-spacing": [
      "warn",
      {
        "beforeSelfClosing": "never"
      }
    ],
    "multiline-ternary": [
      "warn",
      "always-multiline"
    ],
    "operator-linebreak": [
      "warn",
      "after"
    ],
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "warn",
    "no-unused-vars": "warn",
    "no-unused-labels": "warn",
    "no-undef": "error",
    "comma-dangle": [
      "warn",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ],
    "function-paren-newline": [
      "warn",
      "consistent"
    ],
    "space-in-parens": [
      "warn",
      "never"
    ],
    "implicit-arrow-linebreak": [
      "warn",
      "beside"
    ],
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 0
      }
    ],
    "eol-last": [
      "warn",
      "always"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "prefer-template": "error",
    "no-useless-concat": "error",
    "no-template-curly-in-string": "error",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "!raw-loader!"
        ]
      }
    ],
    "i18next/no-literal-string": [
      "error",
      {
        "ignore": [
          "-icon",
          "glyphicon",
          ".svg",
          ".jpg",
          ".jpeg",
          ".png"
        ],
        "ignoreCallee": [
          "t",
          "withTranslation",
          "useTranslation",
          "reportEvent",
          "headerStyles",
          "_.get",
          "_.pick",
          "_.has",
          "classNames",
          "classnames",
          "cn",
          "api.get",
          "api.post",
          "describe",
          "css",
          "querySelector",
          "querySelectorAll"
        ],
        "ignoreAttribute": [
          "onHandleColor",
          "svgFile",
          "bounds",
          "handle",
          "column",
          "glyph",
          "value",
          "style",
          "classNames",
          "className",
          "valueClassName",
          "rowClassName",
          "fieldType",
          "classNamePrefix"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "./cypress/**/*"
      ],
      "rules": {
        "i18next/no-literal-string": "off"
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
      ],
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/semi": [
          "warn",
          "never"
        ],
        "@typescript-eslint/member-delimiter-style": [
          "warn",
          {
            "multiline": {
              "delimiter": "comma",
              "requireLast": true
            },
            "singleline": {
              "delimiter": "comma",
              "requireLast": false
            }
          }
        ]
      }
    }
  ]
}
