{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "__webpack_public_path__": "readonly",
    "__DEV__": "readonly",
    "__GIT__": "readonly",
    "_": "readonly" // TODO: remove lodash from global, fix imports
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "import",
    "i18next"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "react/jsx-tag-spacing": ["warn", {
      "beforeSelfClosing": "never"
    }],
    "no-undef": "error",
    "comma-dangle": ["warn", "always-multiline"],
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 1, "maxBOF": 0}],
    "eol-last": ["warn", "always"],
    "semi": ["warn", "never"],
    "quotes": ["error", "double", { "avoidEscape": true }],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-template": "error",
    "no-useless-concat": "error",
    "no-template-curly-in-string": "error",
    "quote-props": ["error", "as-needed"],
    "object-curly-spacing": ["error", "never"],
    "i18next/no-literal-string": [0, {
      "ignore": [
        "-icon", "glyphicon",
        ".svg", ".jpg", ".jpeg", ".png"
      ],
      "ignoreCallee": [
        "t", "withTranslation", "useTranslation",
        "reportEvent", "headerStyles",
        "_.get",
        "api.get",
        "describe", "it", "expect", "toBe", "toEqual"
      ],
      "ignoreAttribute": [
        "svgFile", "bounds"
      ]
    }]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
      ]
    }
  ]
}
