.DS_Store

.idea/
*.iml

.vscode

node_modules/
npm-debug.log

dist/
translations/*
.federated-types/

coverage/
*-coverage/
.nyc_output/
reports/

cypress.env.json
cypress/videos
cypress/screenshots
cypress/**/__image_snapshots__/*
!cypress/**/__image_snapshots__/*\[Linux\]*
cypress/**/__image_snapshots__/*.diff.*
cypress/**/__image_snapshots__/*.actual.*
