.DS_Store

.idea/
*.iml

.vscode

node_modules/
npm-debug.log

coverage/
dist/
translations/

cypress/videos
cypress/screenshots
cypress/fixtures/env.json
cypress/**/__image_snapshots__/**/*.actual.png
cypress/**/__image_snapshots__/**/*.diff.png
