<%/* TODO template took from html-webpack-plugin/default_index.ejs but with <!DOCTYPE html> removed */%>
<%/* somehow it breaks css layout but we should fix layout eventually and remove this template and use default one*/%>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
  </head>
  <body>
    <script>
         //see config.js comment
         window.nkPath = '__publicPath__'
    </script>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>