@import "./_variables.styl"
@import "./_mixins.styl"

.baseEspGraph
  overflow-y: overlay
  overflow-x: auto
  background-color: graphBkgColor
  #svg-pan-zoom-controls
    transform: translate(0, 0px) scale(0.75)
  svg
    width: 100%
    height 100%

#nk-graph-main
  height: 100% !important
  @extend .baseEspGraph;

#nk-graph-fragment
  width: 100% !important
  @extend .baseEspGraph;
  #svg-pan-zoom-controls
    transform: translate(0, 0px) scale(0.5)

node-highlight(strokeColor, backgroundFill)
  .body
    stroke: strokeColor
    stroke-width: 2px
  .background
    fill: backgroundFill
  .joint-port-body
    stroke-width: 3px
    fill: backgroundFill
    stroke: strokeColor

.node-validation-error
  node-highlight(errorColor, #fbd2d6)

.node-focused-with-validation-error
  node-highlight(focusColor, #f2dede)

.node-grouping
  node-highlight(#5ba935, #caf2d6)

.node-focused
  node-highlight(focusColor, #e6ecff)

.joint-type-basic-rect.node-focused
  rect
    stroke-width 2
    opacity .2
.espModal
  max-height fit-content
  max-height -moz-max-content
  height -moz-max-content
  height -webkit-max-content
  max-width modalMaxWidth
  width modalMaxWidth
  position relative
  background modalBkgColor
  background-color modalBkgColor
  outline: none;
  border-radius: 0px;
  padding: 0px
  border: 2px solid modalBorder
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)

.draggable-container
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex
  justify-content center

modalContent(modalBkgColor,errorColor,modalLabelTextColor,testResultsColor,modalInputTextColor,processesHoverColor,hrColor,modalInputBkgColor)
  overflow auto
  clear both
  labelWidth = 20%
  .warning
    margin 15px
    color errorColor
    .icon
      float left
      width: 30px
      height: 30px
  hr
    border-top 1px solid hrColor
    margin-top 10px
    margin-bottom 10px

  &.edge-details
    height 270px

.modalContentDark
  modalContent(modalBkgColor,errorColor,modalLabelTextColor,testResultsColor,modalInputTextColor,processesHoverColor,hrColor,modalInputBkgColor)

.modalFooter
  margin-top: 5px
  border-top: 2px solid modalBorder
  height modalFooterHeight
  background-color modalFooterBkgColor
  .footerButtons
    text-align right
    button
      margin-right 20px
      text-transform uppercase
    .modalConfirmButton
      color modalConfirmButtonColor

espButton()
  espButtonBase()
  width: 180px
  height: 44px
  font-weight: 600
  font-size: 18px

espButtonIcon()
  espButtonBase()
  width: unit(buttonSize, px)
  height: unit(buttonSize, px)
  font-size rightPanelButtonFontSize
  margin 10px buttonPadding 10px 0
  img
    display block
    margin auto
  svg
    width 40px
    display block
    margin auto
  &.dropzone
    padding-top 4px //why?
    display inline-block

espPanelButton()
  espButton()
  width: 120px
  height: 25px
  font-size: 15px
  &.right-panel
    espButtonIcon()
  &.add-comment
    espButtonIcon()
    width 40px
    height 30px
    margin-right 0
  &.download-button
    width 27px
    height 27px
    border 1px solid buttonBorderColor

.espButton
  espPanelButton()

.esp-button-error
  espPanelButton()
  &.right-panel
    border-color: errorColor
  &.add-comment
    border-color: errorColor
  &.download-button
    border-color: errorColor
  &.attachment-button
    border-color: errorColor
  :first-child
    svg
      g
        .a
          fill: errorColor
  :nth-of-type(2)
    color: errorColor

body .modalButton
  espButtonBase()
  width: 120px;
  height 30px
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
  margin-left 10px
  &:disabled
    background: labelBkgColor

.error
  background-color: #FBB03B

.element
  cursor: pointer
  &:active
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;

.link
  .connection-wrap
    &:hover
      stroke: transparent
      stroke-width: 10px
      stroke-linecap: initial
  .esp-label
    rect
      transform: translateY(0.1em) scale(1.2, 1.4)
    &:hover
      cursor: zoom-in
      display: table
      rect
        transform: translateY(0.8em) scale(2.5, 3.5)
      text
        font-size: 16
        display: table-cell
  &:hover
    .connection
      stroke: #46BFDB
    .marker-target, .marker-source
      fill: #46BFDB
    .marker-vertices circle
      fill: #B5B5B5
      r: 6px

.code-completion
  color: #686868
  position: relative
  top: -25px
  float: right

.row-ace-editor
  color:  #686868
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 5px
  padding-right: 5px
  background-color: #333
  min-height 35px
  outline 1px solid rgba(255,255,255,0.075)
  &.focused
    outline 2px solid #0058a9 !important
    outline-offset -1px !important

.testResultsSummary
  font-size 13px
  font-weight bold

.nodeIcon
    opacity 0.75

    &:hover
        opacity 1

    .joint-type-esp-group &
    .joint-type-basic-rect &
        display none

    .forced-hover &
    .joint-type-esp-group:hover &
        display block

.fadeout {
  position: relative;
  bottom: 4em;
  height: 4em;
  background: -webkit-linear-gradient(
          rgba(20, 20, 20, 0) 0%,
          rgba(20, 20, 20, 1) 100%
  );
  background-image: -moz-linear-gradient(
          rgba(20, 20, 20, 0) 0%,
          rgba(20, 20, 20, 1) 100%
  );
  background-image: -o-linear-gradient(
          rgba(20, 20, 20, 0) 0%,
          rgba(20, 20, 20, 1) 100%
  );
  background-image: linear-gradient(
          rgba(20, 20, 20, 0) 0%,
          rgba(20, 20, 20, 1) 100%
  );
  background-image: -ms-linear-gradient(
          rgba(20, 20, 20, 0) 0%,
          rgba(20, 20, 20, 1) 100%
  );
}

.marked
  border 2px solid markColor !important

.fieldsControl
  .addRemoveButton
    espButtonBase()
    width: 35px
    height: 35px
    font-weight bold
    font-size 20px
  .fieldName
    width: 28%
  .handle-bars
    height 35px
    width 12px
    margin-left 6px
    cursor grab
  .node-value
    &.fieldName
      flex-basis 30%
      max-width 20em
    &.fieldRemove
      flex 0

.branch-parameter-row
  margin-top 0
  margin-bottom 0
  display flex
  & .branch-param-label
    color #ccc
    font-weight 400
    font-size 14px
    padding 8px 10px 8px 10px
    width 30%

.branch-parameter-expr-container
  width 100%

.branch-parameter-expr
  display inline-flex
  width 100%
  .node-value
    width 100% !important

.branch-parameter-expr-value
  width 100%
  display inline-block

.branch-param-select
  width 100%
  padding 0 10px
  border none
  background-color #333
  color #ccc
  font-weight 400
  font-size 16px


.drop-down-menu-placeholder
  height 100px
