.markdownDisplay
  margin-top: 20px
  margin-bottom: 10px
  font-size: 14px
  table
    background-color: #333
    margin-top: 5px
    margin-bottom: 5px
    width: 95%
  th, td
    padding: 10px 10px
    border: 1px solid
    border-color: #666
    font-size: 12px
  a
    a:hover, a:focus
     	color #359af1
      