<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- let's keep here INFO - if it will produce too many logs, we should rather think if our INFO logs are too much verbose... -->
    <logger name="pl.touk.nussknacker" level="${NUSSKNACKER_LOG_LEVEL:-INFO}"/>
    <logger name="slick.jdbc.JdbcBackend.statement" level="${SLICK_SQL_LOG_LEVEL:-INFO}"/>
    <logger name="slick.jdbc.JdbcBackend.parameter" level="${SLICK_SQL_LOG_LEVEL:-INFO}"/>
    <logger name="slick.jdbc.StatementInvoker.result" level="${SLICK_SQL_LOG_LEVEL:-INFO}"/>
    <logger name="DockerTest" level="DEBUG"/>
    <!-- To not show "The module flink-runtime-web could not be found in the class path" stack trace, even when debug enabled -->
    <logger name="org.apache.flink.runtime.dispatcher.DispatcherRestEndpoint" level="INFO"/>
    <logger name="pl.touk.nussknacker.engine.process.typeinformation" level="WARN"/>
    <logger name="pl.touk.nussknacker.engine.flink.util.async" level="WARN"/>
    <logger name="pl.touk.nussknacker.engine.process.registrar.DefaultStreamExecutionEnvPreparer" level="ERROR"/>

    <logger name="pl.touk.nussknacker.engine.schemedkafka.schemaregistry.confluent.client.CachedConfluentSchemaRegistryClient" level="OFF"/>

    <logger name="pl.touk.nussknacker.engine.kafka.RichKafkaConsumer" level="DEBUG"/>
    <!-- for a tests it is always good to show stack traces of handled exceptions -->
    <logger name="pl.touk.nussknacker.engine.util.exception" level="DEBUG"/>

    <!-- types info extraction can have significant impact on deployment duration - uncomment this log if you want to measure it -->
<!--    <logger name="pl.touk.nussknacker.engine.types.TypesInformationExtractor" level="TRACE"/>-->

    <!-- we are declaring here loggers for libs that not in dependency of this module, but we are doing it for simplicity of logging configurations -->
    <!-- levels below can be sometimes duplicated in root level but let's keep them just in case if we want to change value for root logger -->
    <logger name="com.spotify.docker.client.LoggingPullHandler" level="WARN"/>
    <logger name="com.spotify.docker.client.LoggingBuildHandler" level="WARN"/>

    <logger name="org.apache.flink.runtime.leaderretrieval.ZooKeeperLeaderRetrievalService" level="WARN"/>
    <!-- in tests we don't have proper RocksDB memory config, so we disable warnings on that ... -->
    <logger name="org.apache.flink.contrib.streaming.state.RocksDBOperationUtils" level="ERROR"/>

    <logger name="org.apache.flink" level="${FLINK_LOG_LEVEL:-WARN}"/>

    <logger name="org.apache.flink.runtime.webmonitor.WebMonitorUtils" level="ERROR"/>
    <logger name="org.apache.flink.queryablestate" level="OFF"/>

    <logger name="kafka" level="ERROR"/>
    <logger name="org.apache.kafka.consumer" level="ERROR"/>
    <logger name="org.apache.kafka.producer" level="ERROR"/>
    <logger name="org.apache.kafka.clients.consumer" level="ERROR"/>
    <logger name="org.apache.kafka.clients.producer" level="ERROR"/>
    <!-- in tests we frequently encounter "Error while fetching metadata" WARNings when auto-creating topics -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
    <logger name="org.apache.zookeeper.server.PrepRequestProcessor" level="WARN"/>
    <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR"/>

    <logger name="org.flywaydb" level="DEBUG"/>
    <logger name="org.apache.flink.metrics.MetricGroup" level="ERROR"/>
    <logger name="org.apache.fop.apps.FOUserAgent" level="ERROR"/>
    <!-- skuber by default logs all requests to k8s on INFO -->
    <logger name="skuber" level="${SKUBER_LOG_LEVEL:-WARN}"/>
    <logger name="com.azure" level="INFO"/>
    <logger name="org.testcontainers" level="INFO"/>

</configuration>
