:local
    .enabled
        transition all .25s
        pointer-events auto
        background rgba(black, 0.05)
        backdrop-filter blur(8px)

    .disabled
        transition all .25s
        pointer-events inherit
