@import "../../stylesheets/_variables.styl"

:local
	.no-events
		pointer-events none

	.right-sidenav
		user-select none
		width sidebarWidth
		transition left 0.5s ease, right 0.5s ease
		position absolute
		z-index 1
		top 0
		bottom 0
		right 0
		right -(sidebarWidth)
		overflow hidden

		hr
			border-top 1px solid hrColor
			margin-top 10px
			margin-bottom 10px

		&.is-opened
			right 0
