containerPadding = 25px

_fontFamily = 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
menuBkgColor = #3a3a3a
menuTxtColor = #FFFFFF

menuBarHeight = 69px

buttonBkgColor = #4a4a4a
buttonBkgHover = #666666
buttonTextColor = #999999
buttonBorderColor = #666666
buttonPadding = 22px
buttonSize = 65px

sidebarWidth=300px //przy zmianie tej szerokosci trzeba zmienic ilosc miejsca na graf

graphBkgColor = #b3b3b3
panelHeaderBkgColor = #3a3a3a
panelBkgColor = #444444
defaultTextColor = #b3b3b3
defaultFontSize = 11px
panelTitleTextColor = #808080
panelHeaderHeight = 26px
panelHeaderFontSize = 12px
rightPanelButtonFontSize = 11px

processesTableHeaderColor = #E0E0E0
processesTableEvenColor = #F5F5F5
processesTableOddColor = #FFFFFF
processesSearchInput = #FFFFFF
processesTopBar = #FFFFFF

processesHoverColor = #b3b3b3

buttonBlueBkgColor = #0E9AE0
buttonBlueColor = #FFFFFF

warningColor = #FBB03B
scrollbarColor = #666666

toolHoverBkgColor = #4d4d4d
labelBkgColor = #333333
commentBkgColor = #333333
commentBorderColor = #808080


modalHeaderHeight = 25px
modalHeaderWidth = 86px
modalBkgColor = panelBkgColor
modalInputBkgColor = #333333
modalInputTextColor = #cccccc
modalLabelTextColor = #999999
modalFooterBkgColor = panelHeaderBkgColor
modalFooterHeight = 51px
modalMaxHeight = 575px
modalMaxWidth = 800px
modalContentMaxHeight = modalMaxHeight - modalHeaderHeight - modalFooterHeight - 9 //nie wiem czemu -9, ale to dlatego ze modal ze scrollbarem mial dziwny footer, ktrego rogi wyjezdzaly za caly modal
modalConfirmButtonColor = #8fad60

testResultsColor = #8fad60

listBorderColor = #4f4f4f

:export {
  modalContentMaxHeight: modalContentMaxHeight
}