@import "./_variables.styl"

.ReactModal__Overlay
  z-index: 100
.ReactModal__Body--open {
  overflow-y: hidden;
}

#process-name
  position: absolute
  margin-left: 15px

#esp-graph
  height: 100%
  width: 100%
  overflow-y: overlay
  overflow-x: auto
  background-image: url(../assets/img/paper-background.svg)
  background-size: 15px
  background-repeat: repeat
  #svg-pan-zoom-controls
    transform: translate(0, 50px) scale(0.75)
  svg
    width: inherit
    padding: 30px 15px

node-highlight(strokeColor, backgroundFill)
  .body
    stroke: strokeColor
    stroke-width: 2px
  .background
    fill: backgroundFill

.node-validation-error
  node-highlight(#a94442, #f2dede)

.node-focused
  node-highlight(#0058a9, #e6ecff)

headerHeight = 90px
.modalHeader
  padding: 25px 40px
  text-transform: uppercase
  font-weight: 700
  font-size: 26px
  height: headerHeight
  .header-buttons
    float: right
    img
      margin: 3px 7px
      height: 30px
      width: auto
      &:hover
        cursor: pointer

.modalContent
  background-color: white
  padding: 50px 20px
  position: absolute
  top: headerHeight
  bottom: 0
  left: 0
  right: 0
  overflow: auto
  .node-table
    min-width: 60%
    max-width: 80%
    margin: 0 auto
    .node-table-body
      clear: both
    .node-row
      margin-bottom: 15px
    .node-label
      color: #686868
      width: 15%
      display: inline-block
      vertical-align: top
      padding-top: 10px
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
    .node-value
      width: 85%
      display: inline-block
      color: #686868
    .node-input
      width: 100%
      height: 40px
      padding: 0 20px
      border: none
      background-color: #F5F5F5
      font-weight: 400
      font-size: 14px
    .node-group
      padding-top 15px
      width: 100%
      padding-left: 50px
      .node-label
        text-transform: none
    .node-block
      padding: 10px 0
      hr
        margin: 0
    textarea.node-input
      min-height: 80px
      resize: vertical
      line-height: 1.5
      padding-top: 15px
    &.node-editable
      .node-input
        border-bottom: 1px solid #bfbfbf


espButton()
  width: 180px
  height: 44px
  border: none
  border-radius: 5px
  font-weight: 600
  font-size: 18px
  background-color: buttonBkgColor
  color: buttonTextColor
  transition: background-color 0.3s

  &:disabled
    background-color: grey
    cursor: not-allowed
  &:not(:disabled):hover
    background-color: buttonBkgHover

.espButton
  espButton()
  width: 120px
  height: 25px
  font-size: 15px

.modalButton
  background: transparent
  padding: 0
  margin: 0 7px
  border: none
.ladda-button
  outline: none
  &:hover
    background: transparent

.error
  background-color: red
.modalButton + .modalButton
  float: right

.element
  cursor: pointer

.link
  .connection-wrap
    &:hover
      stroke: transparent
      stroke-width: 10px
      stroke-linecap: initial
  .esp-label
    rect
      transform: translateY(0.1em) scale(1.2, 1.4)
    &:hover
      cursor: zoom-in
      display: table
      rect
        transform: translateY(0.8em) scale(2.5, 3.5)
      text
        font-size: 16
        display: table-cell
  &:hover
    .connection
      stroke: #46BFDB
    .marker-target, .marker-source
      fill: #46BFDB
    .marker-vertices circle
      fill: #B5B5B5
      r: 6px

.code-completion
  color: #686868
  position: relative
  top: -25px
  float: right
