@import "./_variables.styl"

.healthCheck
  margin-top 1%
  margin-left 2%
  width: 98%
  .appState
    float left
    width: 20px
    height: 20px
    border-radius: 50%
    margin: auto
    margin-right: 20px
    &.error
      background: red
  .errorText
    color: defaultTextColor
    font-size: 20px
    font-weight: bolder
  clear both

.invalidProcess
  float right
  width: 20px
  height: 20px
  border-radius: 50%
  margin-left: 10px
  background: red