@import "./_variables.styl"

.homeScreen
  margin 20px
  .appState
    float left
    width: 20px
    height: 20px
    border-radius: 50%
    margin: auto
    margin-right: 20px
    &.ok
      background: green
    &.error
      background: red
  .buildInfo
    padding-top: 20
    clear: both
    font-size: small
  .errorText
    font-size: larger
    font-weight: bolder

.invalidProcess
  float right
  width: 20px
  height: 20px
  border-radius: 50%
  margin-left: 10px
  background: red