@import "./_variables.styl"

.healthCheck
  margin-top 1%
  margin-left 2%
  padding 5px
  max-width 50%
  border: 2px solid warningColor
  .icon
    float left
    width: 30px
    height: 30px
    border-radius: 50%
    margin-right: 20px
  .errorText
    color: panelTitleTextColor
    font-size: 25px
    font-weight: bold
