@import "./_variables.styl"

#process-filter
  margin: 25px 60px
  width: 300px
  input
    stroke: #B7B7B7
    background-color: #FAFBFC
    box-shadow: none
  .input-group-addon
    background-color: menuBkgColor
    border: none
    padding: 6px 8px
    #search-icon
      width: 20px


table#process-table
  width: 100%
  border-collapse: initial
  font-size: 14px
  font-weight: 400
  color: #686868
  & *
    border: none

  tablePadding = 70px
  th, td
    padding: 20px 10px
    &:nth-child(1)
      padding-left: tablePadding
    &:last-child
      padding-right: tablePadding

  th
    background-color: #E0E0E0
    color: #686868
    font-size: 16px
    font-weight: 600

  tr:nth-child(even)
    background-color: #F5F5F5
  tr:nth-child(odd)
    background-color: #FFFFFF
  tr.row-hover:hover td
    background-color: #d9edf7

  .date-column
    text-align: center

  .favourite-column
    width: 200px
    text-align: center;
    img
      height: 20px
      margin: 0 auto 3px
      padding: 0 10px
      cursor: pointer

  .tagBlock
    display: inline-block
    margin: 0 5px 0
    border-radius: 3px
    padding: 3px 15px
    background-color: #FEB58A
    font-size: 13px
    color: white
    cursor: pointer

  .reactable-pagination td
    text-align: center
    font-weight: 600
    a
      color: #686868
