@import "./_variables.styl"
@import "./_mixins.styl"

#process-filter
  margin: 25px containerPadding
  width: 300px
  input
    stroke: #B7B7B7
    background-color: #FAFBFC
    box-shadow: none
  .input-group-addon
    background-color: menuBkgColor
    border: none
    padding: 6px 8px
    #search-icon
      width: 20px

table#process-table
  width: 100%
  border-collapse: initial
  font-size: 14px
  font-weight: 400
  color: #686868
  & *
    border: none

  th, td
    padding: 20px 10px
    &:nth-child(1)
      padding-left: containerPadding
    &:last-child
      padding-right: containerPadding

  th
    background-color: #E0E0E0
    font-size: 16px
    font-weight: 600
    &.reactable-th-id, &.reactable-th-name, &.reactable-th-category
      width: 20%

  tr:nth-child(even)
    background-color: #F5F5F5
  tr:nth-child(odd)
    background-color: #FFFFFF
  tr.row-hover:hover
    td
      background-color: #d9edf7
      cursor: default
    td.blue-bar
      border-left: 5px solid menuBkgColor
      padding-left: (containerPadding - 5px)

  .date-column
    text-align: center
// TODO - dodać webpackowego importa do ładowania obrazków w stylusie
  .favourite-column
    width: 200px
    text-align: center
    .favourite-icon
      background-image: url('../assets/img/star-empty.svg')
      background-repeat: no-repeat
      display:inline-block
      height: 20px
      margin: 0 auto
      padding: 0 10px
      cursor: pointer
      &:hover, &.is-favourite
        background-image: url('../assets/img/star-full.svg')

  .edit-column
    text-align: center
    width: 50px
    img
      height: 20px
      cursor: pointer
    .edit-disabled
      opacity: 0.4 !important
      padding: 0

  .metrics-column
    text-align: center
    width: 50px
    span
      font-size: 20px
      cursor: pointer
  .status-column
    text-align: center

  .tagBlock
    tagsBlockMixin()

  .reactable-pagination
    td
      text-align: center
      font-weight: 600
      font-size: 16px
    .reactable-next-page, .reactable-previous-page, .reactable-page-button
      color: #686868
      &:focus
        text-decoration: none
    a.reactable-page-button
      padding: 4px 10px
      margin: 0 8px
      &.reactable-current-page
        background-color: #686868
        color: white
        border-radius: 100%
        text-decoration: none

.status-running
  width: 15px
  height: 15px
  background: green
  border-radius: 50%
  margin auto
