@import "./_variables.styl"

#toolbox
  .tool
    padding 5px
    //no i jak to zrobic inaczej zeby sie nie lamalo??
    width 300px
    overflow-x: hidden
  .toolIcon
    width 20px
    height 20px
    margin 5px