@import "./_variables.styl"

#espSidenav
  width: 0px
  &.is-opened
    width: 280px
  .tab-content
    margin-top 10px
  hr
    border-top 1px solid #ddd
    margin-top 5px
    margin-bottom 10px
  #right-panel-tabs
    ul.nav-tabs li a
      color: #333

sidenavMixin()
  z-index: 1
  position: absolute
  top: 0
  bottom: 0
  padding-top: menuBarHeight
  background-color: #EBEBEB
  overflow-x: hidden
  & a
    white-space: pre

.sidenav
  sidenavMixin()
  left: 0

.rightSidenav
  sidenavMixin()
  right: 0
  width: auto !important
  #right-panel-tabs .tab-content
    padding 0px 15px 0px 15px
    button
      display block
      margin-bottom 5px

// Accordion styles
// overwriting default styles of the component
.panel-default, .panel-heading
  border: none !important
  border-radius: 0 !important
  background-color: #EBEBEB !important
  cursor: pointer
.panel-heading
  padding: 0 !important
  height: 60px
  border-bottom: 1px solid #ddd !important
  .panel-title
    padding: 0 !important
    color: #5d5d5d
  a
    text-decoration: none !important
    display: block
    width: 100%
    height: 100%
    padding: 20px
  &:hover
    background-color: #a5a5a5 !important

.panel-body
  background-color: #f5f5f5 !important
  border: none !important

.panel
  box-shadow: none !important
.panel + .panel
  margin-top: 0 !important

.sideNodeDetails
  .node-label
    display: block
    font-weight: bold
    margin-bottom: 5px
    text-transform capitalize
  .node-key
    display: inline
    font-style: italic
    text-transform capitalize
  .node-value
    display: inline
    word-wrap: break-word
  button
    margin-top 10px
