@import "./_mixins.styl"

#working-area
  transition: margin-left .5s
  margin-left: 0px
  &.is-opened
    margin-left: 250px

.tagsBlockVis
  tagsBlockMixin()

#esp-action-panel
  position: absolute
  top: 110px
  right: 10px
  z-index: 100
  .tag-warning
    margin: 0 5px 0
