@import "./_variables.styl"
@import "./_mixins.styl"

.tagsBlockVis
  tagsBlockMixin()

#esp-action-panel
  position: absolute
  top: 110px
  right: 10px
  z-index: 100
  .tag-warning
    margin: 0 5px 0

#tipsPanel
  height: 100px
  background-color: #4D4D4D
  padding: 10px
  font-weight: light
  font-size: 14px
  .icon
    width: 20px
    height: 20px
    float left
    margin-right: 5px
