version: '3.0'

services:
  app:
    container_name: nussknacker_app
    image: ${NUSSKNACKER_IMAGE-touk/nussknacker}:${NUSSKNACKER_VERSION-staging-latest}
    ports:
      - "3081:8080"
    environment:
      NUSSKNACKER_CONFIG_FILE: ${NUSSKNACKER_CONFIG_FILE:-/opt/nussknacker/conf/docker-application.conf}
    volumes:
      - nussknacker_storage_app:/opt/nussknacker/storage

volumes:
  nussknacker_storage_app:
