version: '3.7'

services:
  influxdb:
    container_name: nussknacker_influxdb
    hostname: influxdb
    image: influxdb:${INFLUXDB_VERSION-1.8.4-alpine}
    environment:
      INFLUXDB_DB: esp
    volumes:
      - ./influxdb/influxdb.conf:/etc/influxdb/influxdb.conf
      - nussknacker_storage_influxdb:/var/lib/influxdb

  telegraf:
    container_name: nussknacker_telegraf
    image: telegraf:${TELEGRAF_VERSION-1.14.1-alpine}
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf


  zookeeper:
    container_name: nussknacker_zookeeper
    image: zookeeper:${ZOOKEEPER_VERSION-3.5.5}
    environment:
      ZOO_MY_ID: 1
      JVMFLAGS: "-Xms64m -Xmx128m"
    volumes:
      - nussknacker_storage_zookeeper_datalog:/datalog
      - nussknacker_storage_zookeeper_data:/data

  kafka:
    container_name: nussknacker_kafka
    image: ${KAFKA_REPOSITORY-wurstmeister/kafka}:${KAFKA_VERSION-2.12-2.5.0}
    ports:
      - "3032:9092"
    environment:
      HOSTNAME_COMMAND: "docker info | grep ^Name: | cut -d' ' -f 2"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "processedEvents:1:1"
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: -Xms128m -Xmx512m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - nussknacker_storage_kafka_data:/kafka
    depends_on:
      - zookeeper

  akhq:
    container_name: nussknacker_akhq
    image: tchiotludo/akhq:${AKHQ_VERSION-0.17.0}
    environment:
      AKHQ_CONFIGURATION: |
        micronaut:
          server:
            context-path: /akhq
        akhq:
          connections:
            nussknacker:
              properties:
                bootstrap.servers: "kafka:9092"
              schema-registry:
                url: "http://schemaregistry:8081"
    ports:
      - 8085:8080
    links:
      - kafka
      - schemaregistry

  schemaregistry:
    container_name: nussknacker_schemaregistry
    image: confluentinc/cp-schema-registry:${SCHEMA_REGISTRY_VERSION-5.5.0}
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka:9092
      SCHEMA_REGISTRY_HOST_NAME: schemaregistry
    ports:
      - 3082:8081
    depends_on:
      - zookeeper
      - kafka
    #schema registry needs running kafka, depends_on is not enough, so let's restart when schema registry fails...
    restart: on-failure

  jobmanager:
    container_name: nussknacker_jobmanager
    image: flink:${FLINK_VERSION-1.11.2}-scala_${SCALA_VERSION-2.12}-${JAVA_VERSION-java11}
    ports:
      - "3031:8081"
    entrypoint: /flink-entrypoint.sh
    command: jobmanager
    depends_on:
      - zookeeper
      - kafka
      - influxdb
    volumes:
      - ./flink/flink-conf.yaml:/tmp/flink-conf.yaml
      - ./flink/flink-entrypoint.sh:/flink-entrypoint.sh
      - nussknacker_storage_flink:/opt/flink/data

  taskmanager:
    container_name: nussknacker_taskmanager
    image: flink:${FLINK_VERSION-1.11.2}-scala_${SCALA_VERSION-2.12}-${JAVA_VERSION-java11}
    ports:
      - "3063:9069"
      - "9009:9009"
      - "9008:9008"
    entrypoint: /flink-entrypoint.sh
    command: taskmanager
    depends_on:
      - zookeeper
      - kafka
      - jobmanager
      - influxdb
    volumes:
      - ./flink/flink-conf.yaml:/tmp/flink-conf.yaml
      - ./flink/flink-entrypoint.sh:/flink-entrypoint.sh
      - nussknacker_storage_flink:/opt/flink/data
    ulimits:
      nproc: 70000
      nofile:
        soft: 70000
        hard: 70000

  grafana:
    container_name: nussknacker_grafana
    image: grafana/grafana:${GRAFANA_VERSION-6.6.2}
    volumes:
      - ./grafana:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:/grafana
      - GF_SECURITY_ALLOW_EMBEDDING=true
    depends_on:
      - influxdb

  nginx:
    container_name: nussknacker_nginx
    image: nginx:${NGINX_VERSION-1.17.6}
    ports:
      - "${NGINX_PORT-8081}:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    restart: on-failure
    depends_on:
      - zookeeper
      - influxdb
      - kafka
      - jobmanager
      - taskmanager
      - grafana


volumes:
  nussknacker_storage_zookeeper_datalog:
  nussknacker_storage_zookeeper_data:
  nussknacker_storage_kafka_data:
  nussknacker_storage_flink:
  nussknacker_storage_influxdb:
