@require "../../stylesheets/_variables.styl"

:local(.wrapper)
    pointer-events auto

:local(.panel)
    background rgba(panelBackground, 1)
    border 0px solid panelBorder

    &-heading
        background panelHeaderBackground
        color panelHeaderText
        text-transform uppercase

    &-title
        font-size panelHeaderTextSize
        font-family 'Open Sans'
        font-weight 600
        color panelHeaderText

        & > a
            display flex
            justify-content space-between
            height panelHeaderTextSize * 2
            line-height @height
            flex-grow 0

        & > a
        & > a:focus
        & > a:hover
            text-decoration none
            color panelHeaderText

    &-body
        min-width (sidebarWidth - 2)
        color panelText
        user-select text

    min-width sidebarWidth
    max-width sidebarWidth

    &:local(.collapsing)
        transition all .2s ease-in-out

    &:local(.expanding)
        transition all .3s ease-in-out

    &:local(.collapsed)
        max-width @min-width
        opacity .86

:local
    .collapse-title
        padding 0 (panelHeaderTextSize * 3 / 4)
        overflow hidden
        text-overflow ellipsis
        flex 1

    .collapse-icon
        padding (panelHeaderTextSize / 2) 8px
        height panelHeaderTextSize * 2
        flex-shrink 0
        transition all .3s
        transform rotate(90deg)

        .collapsed &
            transform rotate(180deg)
