<g class="rotatable nodeIconHoverBox">
    <rect class="background"><title/></rect>
    <g>
        <rect class="nodeIconPlaceholder"/>
        <!--moze da sie wywalic tego image zeby fill dzialal, albo inlinowac jakos svg w EspNode ale tak po prostu a nie przez xlink:href...-->
        <image class="nodeIconItself"/>
    </g>
    <rect class="body"/>

    <g>
        <text class="contentText"/>
    </g>
    <g>
        <rect class="testResultsPlaceholder"/>
        <text class="testResultsSummary"/>
    </g>

    <g class="inPorts"/>
    <g class="outPorts"/>

    <g class="groupElements">
        <image class="expandIcon nodeIcon"/>
    </g>
</g>
