:local
	.tabs-wrap
		box-sizing border-box
		height 100%
		padding 0em 10em
		display flex
		flex-direction column
		justify-content stretch
		overflow hidden

	.tabs
		box-sizing border-box
		display flex

	a.link
		box-sizing border-box
		display block

		&, &:hover, &:active, &:focus
			text-decoration none

		& > .tab
			padding 1em
			background black
			color white

		&.active > .tab
			background lime
			color black

	.content-wrap
		box-sizing border-box
		flex-grow 1
		overflow hidden

	.content
		box-sizing border-box

.tab-content-page
	display flex
	flex-direction column
	justify-content stretch
