@require "../stylesheets/darkColors.styl"

tableFontSize = $font-size-base

.tab-content-page
	:local
		.tools
			display flex
			justify-content space-between
			align-items flex-start

			background dark3
			border 1px solid dark1
			border-top 0
			margin-bottom marginSize
			border-radius 0 borderRadius borderRadius borderRadius

		.group
			display flex
			justify-content stretch
			align-items flex-start
			flex-wrap wrap
			padding (marginSize / 2)

		.expand
			flex-grow 1
			max-width 75%

		.filter-input
		.filter-button
			margin (marginSize / 2)

		.table
			margin 0


			thead > tr
				background transparent

				& > th
					padding .5em 1em
					color light4
					background dark2
					white-space pre
					text-transform uppercase
					font-size tableFontSize
					font-weight normal

				&:first-child
					& > th:first-child
						border-radius borderRadius 0 0 0

					& > th:last-child
						border-radius 0 borderRadius 0 0

			tbody > tr
				background transparent

			thead
			tbody:first-of-type
				tr
					th
					td
						border-style solid
						border-color dark2
						border-width 1px 0 0 0

						&:first-child
							border-left-width 1px

						&:last-child
							border-right-width 1px

					&:last-child td
						border-bottom-width 1px

					:global(td.edit-column)
						border-left-width 1px
						border-right-width 1px

			tbody:first-of-type > tr
				& > td
					color light1
					background dark3
					padding 0 1em
					height 3.25em
					font-size tableFontSize
					font-weight normal


				&:nth-child(2n) > td
					background dark4

				&:hover > td
					background base

				&:last-child
					& > td:first-child
						border-bottom-left-radius borderRadius

					& > td:last-child
						border-bottom-right-radius borderRadius

	img.state-icon
		filter invert() hue-rotate(180deg) saturate(500%) brightness(120%)


	//TODO: cleanup

	&.todoFixme
		.form-control
		.form-select__control
		.btn
			border-radius borderRadius

		.form-control
		.form-select__control
			background dark2
			border-color dark
			color light

			&:hover
				border-color dark

		//.form-select__control--is-focused
		//.form-select__control--is-focused:hover
		//.form-control:focus
		//		border-color accent
		//		box-shadow 0 0 0 1px accent

		.form-select__single-value
			color light1

		.form-select__multi-value
			background accent
			border-radius (borderRadius / 2)

		.form-select__multi-value__label
			color light

		.form-control
		.form-select
		.form-select__control
		.btn
			height 32px
			min-height 36px

		.btn-primary
			border-color accent
			background-color accent

		.icon-fill
			fill dark

//.table-filter
//.btn
//	filter invert() hue-rotate(90deg) saturate(1.5)
