.cron-editor-container {
  width: 70%
}

.cron-editor-container * {
  color: #ccc
}

.cron-editor-container .cron_builder_bordering {
  border-radius none
  border none
  padding 8px 0 0 0
  text-align left
}

.cron-editor-container .container-fluid
  padding 0

.cron_builder {
  width: 100%
  background-color: #333
  outline: 1px solid rgba(255, 255, 255, 0.075)
  border: none
}

.cron-editor-container .well {
  display: flex
  align-items: center
  background-color: #393939 !important
  border: 1px solid #666 !important
  margin-bottom 8px
  border-radius 0
  padding 12px
}

.row {
  margin-left: auto !important
  margin-right: auto !important
}

.nav-tabs {
  border-bottom: 1px solid #666 !important
}

.cron-editor-container .cron_builder_bordering input
  border-radius 0
  background #2d2d2d

.cron-editor-container .cron_builder_bordering input[type='radio']
  margin-top 2px
  vertical-align text-top

.cron-editor-container .cron_builder_bordering input[type='number']
  height 26px
  border 1px solid #666
  width 12%!important

.cron-editor-container .span6
  align-self flex-start
  padding 0

 .cron-editor-container input[type="radio"],
 .cron-editor-container input[type="checkbox"]
   vertical-align bottom
   margin 8px 0 0 0
   transform scale(1.2)

.cron-editor-container .nav-tabs > li > a
  border-radius 0
  border-right 1px solid #666
  border-left 1px solid #666
  border-top 1px solid #666
  border-bottom 0

.cron-editor-container .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.cron-editor-container .nav-tabs > li > a:hover,
.cron-editor-container .cron_builder .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
  background #4a4a4a
  border-right 1px solid #666
  border-left 1px solid #666
  border-top 1px solid #666
  border-bottom 0
  color #999

.cron-editor-container .cron_builder .nav-tabs > li.active > a
  color #ccc
  border-bottom: 1px solid #666

.cron-editor-container .cron-builder-bg
  background-color: #333 !important
  margin-top 8px

.cron-editor-container .minutes,
.cron-editor-container .hours
  background #2d2d2d
  border-radius 0
  border 1px solid #666
  margin-left 8px
  

.col-md-offset-2 {
  margin-left: 0 !important
}

.col-md-6 {
  width: 100% !important
  padding-left: 0 !important
}