linkColor = white

.arrow-marker path
    fill linkColor

.joint-theme-default

    .connection
        stroke linkColor
        stroke-width 2

.joint-type-esp-model
    .body
    .joint-port-body
    .background
        transition all .25s ease-in-out
