@require "../graphTheme.styl"

.graph-export
    [no-export]
    .connection-wrap
    .marker-arrowheads
        display none

    .joint-theme-default
        .connection
            stroke #B3B3B3

        .marker-target
            stroke #B3B3B3
            fill #B3B3B3
