@require "../graphTheme.styl"

linkColor = #B3B3B3

.graph-export
    [no-export]
    .connection-wrap
    .marker-arrowheads
        display none

    .arrow-marker path
        fill linkColor

    .joint-theme-default
        .connection
            stroke linkColor
            fill none

        .joint-port-body
            stroke-width 2px
