services:
  designer:
    container_name: e2e_designer
    image: touk/nussknacker:${NUSSKNACKER_VERSION}
    environment:
      JDK_JAVA_OPTIONS: -Xmx512M
      KAFKA_ADDRESS: kafka:9092
      KAFKA_AUTO_OFFSET_RESET: "earliest"
      SCHEMA_REGISTRY_URL: http://schemaregistry:8081
      CONFIG_FORCE_usageStatisticsReports_enabled: "false"
    expose:
      - 8080
    ports:
      - "3081:8080"
    depends_on:
      - schemaregistry

  kafka:
    container_name: e2e_kafka
    image: vectorized/redpanda:v23.3.12
    command:
      - redpanda start
      - --smp 1
      - --set redpanda.enable_transactions=true
      - --set redpanda.enable_idempotence=true
      - --reserve-memory 0M
      - --overprovisioned
      - --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:3032
      - --advertise-kafka-addr PLAINTEXT://kafka:9092,OUTSIDE://localhost:3032
    ports:
      - "3032:3032"

  #We use confluent schema-registry because redpanda doesn't support json schema: https://docs.redpanda.com/current/manage/schema-reg/schema-reg-overview/
  schemaregistry:
    container_name: e2e_schemaregistry
    image: confluentinc/cp-schema-registry:7.3.0
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka:9092
      SCHEMA_REGISTRY_HOST_NAME: schemaregistry
    ports:
      - "4081:8081"
    depends_on:
      - kafka

networks:
  default:
    name: nussknacker_e2e_network
