version: '3.7'

services:
  designer:
    container_name: e2e_designer
    image: touk/nussknacker:${NUSSKNACKER_VERSION}
    environment:
      DEFAULT_SCENARIO_TYPE: streaming-lite-embedded
      JDK_JAVA_OPTIONS: -Xmx512M
      KAFKA_ADDRESS: kafka:9092
      SCHEMA_REGISTRY_URL: http://schemaregistry:8081
      CONFIG_FORCE_kafka_lowLevelComponentsEnabled: "false"
    expose:
      - 8080
    ports:
      - "3081:8080"

  kafka:
    container_name: e2e_kafka
    command:
    - redpanda
    - start
    - --smp
    - '1'
    - --set
    - redpanda.enable_transactions=true
    - --set
    - redpanda.enable_idempotence=true
    - --reserve-memory
    - 0M
    - --overprovisioned
    - --node-id
    - '0'
    - --kafka-addr
    - PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:3032
    - --advertise-kafka-addr
    - PLAINTEXT://kafka:9092,OUTSIDE://localhost:3032
    image: vectorized/redpanda:v22.1.4
    ports:
      - "3032:3032"

  schemaregistry:
    container_name: e2e_schemaregistry
    image: confluentinc/cp-schema-registry:5.5.0
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka:9092
      SCHEMA_REGISTRY_HOST_NAME: schemaregistry
    depends_on:
      - kafka

networks:
  default:
    name: nussknacker_e2e_network

