src/brace/

.DS_Store

.idea/
*.iml

.vscode

package-lock.json
node_modules/
npm-debug.log

dist/
translations/*
.federated-types/
types/@remote

coverage/
*-coverage/
.nyc_output/
reports/

cypress.env.json
cypress/videos
cypress/screenshots
