.time-range-component {
  display: inline-flex
  width: 30%
}

.time-range-component:after {
  clear: both
}

.time-range-input {
  width: 45px !important
  border: none !important
  background-color: #333
  color: #ccc
  text-align: center
  padding-left: 12px
  outline: 1px solid rgba(255, 255, 255, 0.075)
}

.time-range-components {
  display: inline-flex
  width: 70%
  height: 35px
}

.time-range-component-label {
  display: flex
  align-items: center
  justify-content: center
  padding: 0.2em 0.6em 0.3em
  font-weight: 700
  line-height: 1
  text-align: center
  vertical-align: baseline
  border-radius: 0.25em
}

.time-range-section {
  width: 70%
  display: grid
}
