@import "~react-datetime/css/react-datetime.css";

.defaultStyle input {
    background: none !important;
    border: none;
    height: 100%;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.rdtOpen .rdtPicker {
    position: fixed;
    background-color: #222222;
    border-color: #666666;
}

.rdtPicker tfoot,
.rdtPicker th {
    border-color: #666666;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
    background-color: #db7e3a;
    color: #000000;
}

.rdtPicker thead tr:first-child th:hover {
    background-color: inherit;
    color: #db7e3a;
}

.rdtCounter .rdtBtn:hover,
td.rdtMonth:hover,
td.rdtYear:hover,
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
    background-color: #000000;
    color: #db7e3a;
}

.rdtPicker td.rdtToday:before {
    border-bottom-color: #db7e3a;
}

.rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #000000;
}
