
state.savepoints.dir: file:///tmp/SAVEPOINT_DIR_NAME
high-availability: zookeeper
high-availability.zookeeper.quorum: zookeeper:2181
high-availability.zookeeper.path.root: /flink
high-availability.cluster-id: docker-test
high-availability.storageDir: file:///tmp/storage
parallelism.default: 1

taskmanager.memory.jvm-metaspace.size: 512m
taskmanager.numberOfTaskSlots: <configured_by_flink_entrypoint>
