tagsBlockMixin()
  display: inline-block
  margin: 0 5px 0
  border-radius: 3px
  padding: 4px 18px
  background-color: #FEB58A
  font-size: 13px
  color: white


espButtonBase()
  border: 1px solid buttonBorderColor;
  border-radius: 0
  outline none
  background-color: buttonBkgColor
  color: buttonTextColor
  transition: background-color 0.2s
  &:disabled,&.disabled
    opacity 0.3
    cursor: not-allowed !important
  &:not(:disabled):hover,&:not(.disabled):hover
    background-color: buttonBkgHover

