containerPadding = 25px

_fontFamily = 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
menuBkgColor = #3a3a3a
menuTxtColor = #FFFFFF

focusColor = #0058a9

menuActiveItem =  rgba(0, 0, 0, 0.3)

menuBarHeight = 69px

buttonBkgColor = #4a4a4a
buttonBkgHover = #666666
buttonTextColor = #999999
buttonBorderColor = #666666
buttonPadding = 22px
buttonSize = 65px

sidebarWidth=300px

graphBkgColor = #b3b3b3
panelHeaderBkgColor = #3a3a3a
panelBkgColor = #444444
defaultTextColor = #b3b3b3
defaultFontSize = 11px
panelTitleTextColor = #808080
panelHeaderHeight = 26px
panelHeaderFontSize = 12px
rightPanelButtonFontSize = 11px

processesTableHeaderColor = #E0E0E0
processesTableEvenColor = #F5F5F5
processesTableOddColor = #FFFFFF
processesSearchInput = #FFFFFF
processesTopBar = #FFFFFF

processesHoverColor = #b3b3b3

buttonBlueBkgColor = #0E9AE0
buttonBlueColor = #FFFFFF

infoColor = #cccccc
warningColor = #FF9A4D
errorColor = #f25c6e
okColor = #8fad60
sucessColor = #64d864

scrollbarColor = #666666

toolHoverBkgColor = #4d4d4d
labelBkgColor = #333333
commentBkgColor = #333333
commentBorderColor = #808080


modalHeaderHeight = 30px
modalHeaderWidth = 86px
modalBkgColor = panelBkgColor
modalInputBkgColor = #333333
modalInputTextColor = #cccccc
modalLabelTextColor = #999999
modalFooterBkgColor = panelHeaderBkgColor
modalFooterHeight = 51px
modalMaxHeight = 700px
modalMaxWidth = 800px
modalContentMaxHeight = modalMaxHeight - modalHeaderHeight - modalFooterHeight - 9 ////don't know why -9, but without it modal with scrollbar has weird footer and its edges come outside of modal
modalConfirmButtonColor = okColor
modalBorder = #222
docsIconColor = modalBorder
docsIconColorHover = modalLabelTextColor

testResultsColor = okColor
markColor = okColor

listBorderColor = #4f4f4f

svgGraphPaddingLeft = 15
svgGraphPaddingTop = 15

hrColor = #777


:export {
  modalContentMaxHeight: modalContentMaxHeight
  svgGraphPaddingLeft: svgGraphPaddingLeft
  svgGraphPaddingTop: svgGraphPaddingTop
}