@require "./_variables.styl"

dark = #000000
dark1 = #1A1A1A
dark2 = #333333
dark3 = #4D4D4D
dark4 = #666666
base = #808080
light4 = #999999
light3 = #B3B3B3
light2 = #CCCCCC
light1 = #E6E6E6
light = #FFFFFF

accent = #668547

form-control-focus = dark
marginSize = (formControllHeight / 4)
borderRadius = 3px

:export
	borderRadius: borderRadius
	marginSize: marginSize

.dark-theme
	//placeholder
	color light

