@import "./_variables.styl"
@import "./_mixins.styl"

//TODO: better styling of the picker itself...
.react-datepicker-wrapper
  width: 100%

.react-datepicker__input-container
  display: block

//lada-button has z-index 3...
.react-datepicker-popper
  z-index: 5

.react-datepicker__time-list
  padding-left 0

.predefinedRangeButton
  espButtonBase()
  width: 90px;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 400;
  margin-left 10px