@import "./_variables.styl"
@import "./darkColors.styl"

#main-menu
  position: absolute
  top: 0
  height: menuBarHeight
  width: 100%
  background-color: menuBkgColor
  border: none
  border-radius: 0
  margin-bottom: 0
  z-index: 100
  user-select none

  .expand-button
    font-size 20px
    display none
    margin 0
    padding 1em
    background none
    border none
    height 100%
    &:hover
    &:focus
      background-color: menuActiveItem
    @media (max-width: 750px)
      display block

  .navbar-brand
    height 20px
    margin 0 20px
    padding 0

    .navbar-brand-logo
      height 18px
      path
        fill light1

#menu-items
  height: 100%
  list-style: none
  padding: 0
  margin: 0
  display: flex
  align-items: center
  flex: 1
  justify-content flex-end
  @media (max-width: 750px)
    .expanded &
      position absolute
      top menuBarHeight
      right 0
      left 0
      background rgba(menuBkgColor, .9)
      backdrop-filter blur(4px)
      -webkit-backdrop-filter blur(4px)
      box-shadow 0 2px 1px rgba(black, .25)
      flex-direction column
      height auto
      align-items stretch
    .collapsed &
      display none
  li
    display: flex
    align-items center
    margin: 0
    height: 100%
    @media (max-width: 750px)
      height: menuBarHeight
  a
    flex 1
    display: flex
    align-items center
    justify-content center
    height 100%
    color: menuTxtColor
    font-weight: 400
    font-size: 16px
    text-decoration none
    padding: 0 1.2em
    border-radius: 0
    @media (max-width: 1200px)
      padding: 0 1em
    @media (max-width: 1000px)
      font-size 16px
    @media (max-width: 850px)
      font-size 14px
      padding: 0 .8em
    @media (max-width: 750px)
      font-size 22px
      padding: 0 1.5em

    &:hover
      background-color: menuActiveItem
  .active
    background-color: menuActiveItem

.indicator-green
  background-color: #5cb85c
  border-color: #4cae4c

.indicator-blue
  background-color: #5bc0de
  border-color: #46b8da

.indicator-yellow
  background-color: #f0ad4e
  border-color: #eea236

.indicator-red
   background-color: #d9534f
   border-color: #d43f3a

.indicator
  color: #fff
  display: inline-block
  padding: 3px 8px
  margin-bottom: 0
  font-size: 15px
  font-weight: normal
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  background-image: none
  border: 1px solid transparent
  border-radius: 3px
  overflow hidden
  text-overflow ellipsis
  letter-spacing: 0.2px
