@import "./_variables.styl"

.healthCheck
  margin: 10px
  padding 5px
  border: 2px solid warningColor
  .icon
    float left
    width: 30px
    height: 30px
    border-radius: 50%
    margin-right: 20px
  .errorText
    color: panelTitleTextColor
    font-size: 25px
    font-weight: bold

button:focus
input:focus
a:focus
.espButton:focus
.attachment-drop-zone:focus
textarea:focus
.add-attachments:focus
.attachments-container:focus
select:focus
  outline 2px solid focusColor!important;
  outline-offset -1px!important;

.node-value-select__value-container
  input:focus
    outline none!important;

.form-select
  input:focus
    outline none!important;

.cleared
  clear: both
