.markdownDisplay
  margin-top: 20px
  table
    width 95%
 	background-color #333
  th, td
    padding: 10px 10px
    border: 1px solid
    border-color: #666
    font-size: 12px
  a
    font-size: 14px
    a:hover, a:focus
     	color #359af1
      