@import "./_variables.styl"

.notifications-wrapper
  position absolute
  bottom 25
  right 25
  z-index 1000

  .notification
    cursor pointer
    width: 300px
    max-height 400px
    font-family "Open Sans"
    font-size: 16
    display flex
    border 1px solid #3a3a3a
    color #333333
    .notification-dismiss
      display none
    &.notification-hidden
      display none
    &.notification-success
      background-color sucessColor
      margin-top 10px
      .cls-success
        fill #3a3a3a
    &.notification-error
      background-color errorColor
      margin-top 10px
      svg
        background none
      .cls-error
        fill #3a3a3a
    &.notification-info
      background-color infoColor
      margin-top 10px
      svg
        background none
      .a
        fill #3a3a3a
    .icon
      min-width 16px
      min-height 16px
      margin-top 6px
      order: -1
      width: 16px
      height: 16px
      margin-right 5px
      margin-left 5px
      margin-bottom 5px
    .notification-details
      padding 1 1 1 0
      margin-top 1px
      margin-bottom 2px
    .notification-text
      display block
      max-width 234px
      overflow hidden
      word-wrap break-word
    .dismiss-icon
      fill #cccccc
      width 16px
      min-width 16px
      height 16px
      margin-left auto
  .cls-close-2
    opacity 0.5
  :hover .cls-close-2
    opacity 1

.notification:hover .cls-close-2 {
  opacity 1
}