@import "./_variables.styl"
@import "./_mixins.styl"

#table-filter
  margin: 45px containerPadding
  max-width: 450px
  min-width: 200px
  flex: 1 1 auto
  .search-container
    border 1px solid #CCC
    height 45px
    input
      height: 43px
      width 90%
      background-color: processesSearchInput
      border none
      &:focus
        outline 0px!important
        box-shadow none
    &:focus-within
      outline 2px solid focusColor
      box-shadow none
    .search-icon
      width: 25px
      margin-left 10px
      margin-top 8px
      float left
      display inline-block
    .search-icon-fill
      .icon-fill
        fill #CCC
    .search-icon-fill-filter
      .icon-fill
        fill buttonBlueBkgColor
  .form-control
    height: 45px
    color: black

.table-select
  margin: 10px 0px -20px containerPadding

  height 45px
  background-color: processesSearchInput
  box-shadow: none
  font-size 14px
  color: black

#process-top-bar
  display flex
  justify-content: space-between
  background-color: processesTopBar

.input-group
  .big-blue-button
    float: right

.esp-table
  margin-bottom 20px
  iconColumnWidth=50px

  clickableIconColumn()
    text-align: center
    width: iconColumnWidth
    span
      font-size: 20px
      cursor: pointer
      &:focus
        outline 2px solid focusColor

  width: 100%
  border-collapse: initial
  font-size: 14px
  font-weight: 400
  color: #000000
  & *
    border: none

  th, td
    padding: 10px 10px
    vertical-align: middle
    &:nth-child(1)
      padding-left: containerPadding
      padding-top 20px
      padding-bottom 20px
    &:last-child
      padding-right: containerPadding

  th
    background-color: processesTableHeaderColor
    font-size: 16px
    font-weight: 600
    &.reactable-th-category
      width: 30%
    &.reactable-th-nodeid
      width: 40%
    &.reactable-th-modifydate, &.reactable-th-createdat, &.reactable-th-isdeployed
      width: 10%
    &.reactable-th-status, &.reactable-th-edit, &.reactable-th-metrics, &.reactable-th-subprocess
      width: 5%
    &:focus
      outline 2px solid focusColor
  tr:nth-child(even)
    background-color: processesTableEvenColor
  tr:nth-child(odd)
    background-color: processesTableOddColor
  tr.row-hover:hover:nth-child(even)
    td
      background-color: lighten(processesTableEvenColor, 5%)
      cursor: default
  tr.row-hover:hover:nth-child(odd)
    td
      background-color: lighten(processesTableOddColor, 5%)
      cursor: default

  th.reactable-header-sort-asc:after {
    content: '\25BC'
    font-size: 10px
    padding-left: 10px
    padding-bottom: 5px
  }

  th.reactable-header-sort-desc:after {
    content: '\25B2'
    font-size: 10px
    padding-left: 10px
    padding-bottom: 5px
  }

  .centered-column, .reactable-th-modifydate, .reactable-th-createdat, .reactable-th-subprocess, .reactable-th-createdby
    text-align: center

  .edit-column, .reactable-th-metrics, .reactable-th-view
    text-align: center
    width: iconColumnWidth
    img
      height: 20px
      cursor: pointer
    .edit-disabled
      opacity: 0.4 !important
      padding: 0

  .name-column
    input
      width: 100%

  .metrics-column, .reactable-th-metrics
    clickableIconColumn()

  .edit-column, .reactable-th-edit, .reactable-th-view
    clickableIconColumn()

  .reactable-th-isdeployed
    clickableIconColumn()

  .deploy-column, .reactable-th-deploy
    clickableIconColumn()

  .cancel-column, .reactable-th-stop
    clickableIconColumn()

  .status-column, .reactable-th-status
    text-align: center
    vertical-align: middle
    width: iconColumnWidth

  .tagBlock
    tagsBlockMixin()

  .reactable-pagination
    td
      text-align: center
      font-weight: 600
      font-size: 16px
    .reactable-next-page, .reactable-previous-page, .reactable-page-button
      color: #000000
      &:focus
        text-decoration: none
    a.reactable-page-button
      padding: 4px 10px
      margin: 0 8px
      &.reactable-current-page
        background-color: #686868
        color: white
        border-radius: 100%
        text-decoration: none

.status-running
  width: 15px
  height: 15px
  background: green
  border-radius: 50%
  margin auto

.status-notrunning
  width: 15px
  height: 15px
  background: #FBB03B
  border-radius: 50%
  margin auto

.status-unknown
  width: 15px
  height: 15px
  background: orange
  border-radius: 50%
  margin auto

.transparent
  background-color: rgba(0, 0, 0, 0)

.validation-label
  color errorColor
  margin-top 3px
  font-size 12px

.validation-labels
  display inline-grid

.processes-table-row-icon
  padding 10px
