@import "./_variables.styl"

.togglePanel
  position: fixed
  top: menuBarHeight
  height: 25px
  width: 25px
  background: #3A3A3A
  align-items: center
  justify-content: center
  transition: left 0.5s ease, right 0.5s ease;
  z-index: 100
  cursor: pointer

  &.right
    right: 0

    &.is-opened
      right: sidebarWidth

  &.left
    left: 0
    &.is-opened
      left: sidebarWidth