@import "./_variables.styl"

.togglePanel
  position: absolute
  bottom: 0
  height: 25px
  width: 25px
  align-items: center
  justify-content: center
  transition: left 0.5s ease, right 0.5s ease;
  z-index: 100
  cursor: pointer

  &.RIGHT
    right: 0

    &.is-opened
      right: panelWidth

  &.LEFT
    left: 0
    &.is-opened
      left: panelWidth
