@import "./_variables.styl"

grabbingMixin()


grabMixin()
  cursor: -moz-grab
  cursor: -webkit-grab
  cursor: grab
  &:active
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;

#toolbox
  font-size 16px
  font-weight lighter
  padding 0
  .tree-view_item
    border 1px solid listBorderColor
    cursor: pointer
    display flex
    padding 0 5px
    &.disabled
      opacity 0.4
      cursor: not-allowed !important
    &:hover
      background-color toolHoverBkgColor
      color toolHoverColor
  .tree-view_arrow
    cursor inherit
  .toolWrapper
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    img
      filter: brightness(0.6)
      margin-right 5px
      margin-bottom 2px
  .tool
    grabMixin()
    margin-bottom -1px
    height 27px
    padding 0 5px
    line-height @height
    border 1px solid listBorderColor
    &:hover
      background-color toolHoverBkgColor
      color toolHoverColor
  .toolIcon
    height 16px
    display inline-block
    vertical-align middle
.group-label
  width 95%
