@import "./_variables.styl"

grabbingMixin()


grabMixin()
  cursor: -moz-grab
  cursor: -webkit-grab
  cursor: grab
  &:active
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;

#toolbox
  font-size 14px
  font-weight 600
  padding 0
  .tree-view
    background-color #3e3e3e
  .tree-view_item
    background-color buttonBkgColor
    border 1px solid alpha(listBorderColor, 50%)
    cursor: pointer
    display flex
    padding 0 5px
    height 28px
    line-height @height
    &.disabled
      opacity 0.4
      cursor: not-allowed !important
    &:hover
      background-color toolHoverBkgColor
      color toolHoverColor
  .tree-view_children
    background-color #464646
    font-weight 400

  .tree-view_arrow
    cursor inherit
  .toolWrapper
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    img
      filter: brightness(0.7)
      margin-right 5px
      margin-bottom 2px
  .tool
    grabMixin()
    margin-bottom -1px
    color: #b3b3b3
    height 28px
    padding 0 5px
    line-height @height
    border 1px solid listBorderColor
    &:hover
      background-color darken(toolHoverBkgColor, 7%)
      color toolHoverColor
      img
        filter: brightness(0.8)
  .toolIcon
    height 16px
    display inline-block
    vertical-align middle
.group-label
  width 95%
