@import "./_variables.styl"

#espLeftNav,
#espRightNav
  width: sidebarWidth
  overflow: hidden

  .tab-content
    margin-top 10px
  hr
    border-top 1px solid hrColor
    margin-top 10px
    margin-bottom 10px

sidenavMixin()
  z-index: 1
  position: absolute
  top: 0
  bottom: 0
  background-color: panelBkgColor
  overflow-x: hidden
  & a
    white-space: pre

.sidenav,
.rightSidenav
  transition: left 0.5s ease, right 0.5s ease;

.sidenav
  sidenavMixin()
  left: -(sidebarWidth)

  &.is-opened
    left: 0

.rightSidenav
  sidenavMixin()
  right: -(sidebarWidth)

  &.is-opened
    right: 0

  #right-panel-tabs .tab-content
    padding 0px 15px 0px 15px
    button
      display block
      margin-bottom 5px
  .global
    display inline-flex
    .global-process-info
      display inline-block
      margin-left buttonPadding
      margin-top buttonPadding
      width (buttonPadding * 2 + buttonSize * 2)px
      p
        font-size 14px
        font-weight lighter

    .global-buttons
      display inline-block

// Accordion styles
// overwriting default styles of the component
.panel-default, .panel-heading
  background-color: panelHeaderBkgColor !important
  border: none !important
  border-radius: 0 !important
.panel-heading
  cursor: pointer
  height: panelHeaderHeight
  padding: 0 !important
  .panel-title
    color: panelTitleTextColor
    font-size: panelHeaderFontSize
  a
    padding 5px 0 0 buttonPadding
    text-decoration: none !important
    display: block
    width: 100%
    height: 100%

.panel-properties
  padding: 0 0 0 buttonPadding
  margin-top 5px
  margin-bottom 5px

  label
    display inline-block
    font-weight normal
  espCheckbox(15px)
  input[type='checkbox']
    display inline
    margin-right 3px
  input[type="text"]
    display inline-block
    border none
    background-color modalInputBkgColor
    float: right
    margin-right 10px
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none;
    margin: 0;

.panel-body
  padding: 0 0 0 buttonPadding !important
  background-color: panelBkgColor
  border: none !important

.panel
  margin-bottom: 1px !important
  box-shadow: none !important
.panel + .panel
  margin-top: 0 !important

.panel-comment
  font-size 12px
  a
    color: okColor
  a:hover
    color: warningColor
  a:visited
    color: okColor

.sideNodeDetails
  padding: 0 buttonPadding 0 0 !important
  .node-label
    display: block
    font-weight: bold
    margin-bottom: 5px
    text-transform capitalize
  .node-key
    display: inline
    font-style: italic
    text-transform capitalize
  .node-value
    display: inline
    word-wrap: break-word
  button
    margin-top 10px

.dropZone
  cursor: pointer
  height: 33
  //TODO: can it be done automatically?
  padding-top 6
  margin-bottom 5
  div
    text-align center


.thumbVertical
  background-color scrollbarColor
