@import "./_variables.styl"
@import "./_mixins.styl"

.Page
  position: relative
  overflow-x: hidden
  height 100%
  &.graphPage
    background-color #b3b3b3

.tagsBlockVis
  tagsBlockMixin()

#esp-action-panel
  position: absolute
  top: 110px
  right: 10px
  z-index: 100
  .tag-warning
    margin: 0 5px 0

tipsPanel(bkrd-color, txt-color = undefined)
  height: 100px
  background-color: bkrd-color
  padding: 10px
  font-weight: light
  font-size: 14px
  color: txt-color
  .icon
    width: 16px
    height: 16px
    float left
    margin-right 5px
    margin-top 2px

.tipsPanel
  tipsPanel(#4D4D4D)

.tipsPanelHighlighted
  tipsPanel(hrColor, black)

.error-tips
  display inline-flex

.node-error-section
  display inline-flex
  margin-bottom 10px

.node-error-tips
  display inline-flex

.warning-tips
  display inline-grid

.node-error-links
  padding-left 5px
  display inline-flex

.node-error-link
  color #f25c6e
  font-weight 600
  &:hover
    color lighten(#f25c6e, 25%)
  &:focus
    color #f25c6e
    text-decoration none

.node-warning-link
  color warningColor
  font-weight 600
  &:hover
    color lighten(warningColor, 25%)
  &:focus
    color warningColor
    text-decoration none

#graphContainer
  resize: both;
  overflow: hidden;