@import "./_variables.styl"
@import "./_mixins.styl"

.Page
  position: relative
  overflow-x: hidden
  height 100%

.tagsBlockVis
  tagsBlockMixin()

#esp-action-panel
  position: absolute
  top: 110px
  right: 10px
  z-index: 100
  .tag-warning
    margin: 0 5px 0

tipsPanel(bkrd-color, txt-color = undefined)
  height: 100px
  background-color: bkrd-color
  padding: 10px
  font-weight: light
  font-size: 14px
  color: txt-color
  .icon
    width: 20px
    height: 20px
    float left
    margin-right: 5px

.tipsPanel
  tipsPanel(#4D4D4D)

.tipsPanelHighlighted
  tipsPanel(hrColor, black)


#graphContainer
  resize: both;
  overflow: hidden;