@require "./stylesheets/_variables.styl"
@require "./stylesheets/bootstrap.styl"

html,
body
  margin: 0
  padding: 0
  height: 100dvh
  background: graphBkgColor
  color: defaultTextColor
  // Material-UI uses rem units for the font size.
  // Revert (changed by bootstrap) the browser <html> element default font size.
  font-size: 16px
  overflow: hidden

.notification-dismiss 
  display: none !important

.notifications-wrapper
  position absolute
  bottom 25px
  right 25px
  z-index 10000

.notification
  font-family "Open Sans"
  font-size: 16px

.hide
  display none
  
  .details
    display inline-block

.modalContentDark
  h3
    font-size 1.3em


.ace_hidden-cursors .ace_cursor {
  opacity: 0.0;
}
.ace_editor.ace_autocomplete {
  width: 400px
}
// Without those settings below, type (meta) shade method/variable name (value)
.ace_autocomplete .ace_line > * {
  flex: 0 0 auto;
}
.ace_autocomplete .ace_line .ace_ {
  flex: 0 0 auto;
  overflow: auto;
}

.ace_defaultMethod
  &
  & + .ace_completion-meta
    color #ffe1b9

.ace_classMethod
  &,
  & + .ace_completion-meta
    color #708687

.ace_tooltip.ace_doc-tooltip
  font-size 0.7em
  .function-docs
    white-space pre-wrap
    >hr
      margin-top 0px
      margin-bottom 0px
    p
      margin-top 5px
      margin-bottom 5px

.services
  height 100%
  overflow-y auto