.ace-nussknacker .ace_gutter {
    background: #2F3129;
    color: #8F908A
}
.ace-nussknacker .ace_print-margin {
    width: 1px;
    background: #555651
}
.ace-nussknacker {
    background-color: #333;
    color: #F8F8F2
}
.ace-nussknacker .ace_cursor {
    color: #F8F8F0
}
.ace-nussknacker .ace_marker-layer .ace_selection {
    background: #49483E
}
.ace-nussknacker.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #333;
}
.ace-nussknacker .ace_marker-layer .ace_step {
    background: rgb(102, 82, 0)
}
.ace-nussknacker .ace_marker-layer .ace_bracket {
    margin: 0 0 0 0;
    border: 1px solid #FFC66D
}
.ace-nussknacker .ace_marker-layer .ace_active-line {
    background: #202020
}
.ace-nussknacker .ace_gutter-active-line {
    background-color: #272727
}
.ace-nussknacker .ace_marker-layer .ace_selected-word {
    border: 1px solid #49483E
}
.ace-nussknacker .ace_invisible {
    color: #52524d
}
.ace-nussknacker .ace_entity.ace_name.ace_tag,
.ace-nussknacker .ace_keyword,
.ace-nussknacker .ace_meta.ace_tag,
.ace-nussknacker .ace_storage {
    color: #db7e3a
}
.ace-nussknacker .ace_punctuation,
.ace-nussknacker .ace_punctuation.ace_tag {
    color: #fff
}
.ace-nussknacker .ace_constant.ace_character,
.ace-nussknacker .ace_constant.ace_language,
.ace-nussknacker .ace_constant.ace_numeric,
.ace-nussknacker .ace_constant.ace_other {
    color: #AE81FF
}
.ace-nussknacker .ace_invalid {
    color: #F8F8F0;
    background-color: #F92672
}
.ace-nussknacker .ace_invalid.ace_deprecated {
    color: #F8F8F0;
    background-color: #AE81FF
}
.ace-nussknacker .ace_support.ace_constant,
.ace-nussknacker .ace_support.ace_function {
    color: #66D9EF
}
.ace-nussknacker .ace_fold {
    background-color: #A6E22E;
    border-color: #F8F8F2
}
.ace-nussknacker .ace_storage.ace_type,
.ace-nussknacker .ace_support.ace_class,
.ace-nussknacker .ace_support.ace_type {
    font-style: italic;
    color: #66D9EF
}
.ace-nussknacker .ace_entity.ace_name.ace_function,
.ace-nussknacker .ace_entity.ace_other,
.ace-nussknacker .ace_entity.ace_other.ace_attribute-name,
.ace-nussknacker .ace_variable {
    color: #9876AA
}
.ace-nussknacker .ace_variable.ace_parameter {
    font-style: italic;
    color: #FD971F
}
.ace-nussknacker .ace_string {
    color: #6A8759
}
.ace-nussknacker .ace_comment {
    color: #75715E
}
.ace-nussknacker .ace_spel {
    color: #00FF00
}
.ace-nussknacker .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}
