@import "../../stylesheets/_variables.styl"

:local
    .vertical {
    }

    .track
        top (scrollThumbSize - toolbarsGap)
        bottom @top

        :global(.LEFT) &
            right 0

        :global(.RIGHT) &
            left 0

        width (scrollThumbSize - 1px)
        background-color transparent
        border-radius scrollThumbSize

    .thumb
        cursor all-scroll
        border-radius scrollThumbSize
        background-color rgba(black, .35)

    .enabled
        pointer-events auto

    .disabled
        pointer-events inherit

    .wrapper
        min-height 100%
        display flex
        transition all .25s
        overflow hidden

        &.enabled
            background rgba(black, 0.15)
            backdrop-filter blur(8px)
            @supports (not ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))))
                background rgba(#999999, 0.8)
