@require "./_variables.styl"
@require "./_mixins.styl"

.input-group
    .big-blue-button
        float: right

.transparent
    background-color: rgba(0, 0, 0, 0)

.validation-label-error
    color errorColor !important
    margin-top 3px
    font-size 12px

.validation-label-info
    color green !important
    margin-top 3px
    font-size 12px

.validation-labels
    display inline-grid
    max-width fit-content
